numpy
scipy
pandas
autograd
scikit-learn
cvxpy
cvxopt
matplotlib
matplotlib-label-lines
seaborn
brokenaxes

# cmdline flags
absl-py
fancyflags

# torch w/ CUDA 10.2
torch
torchvision
torchaudio
tensorboard
tensorflow

# dev
ipykernel
jedi
